################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PythonSimpleAutomationWithClasses/FileContentIndex/9c6233d5-8275-4cfa-a06c-da7faba7a6d3.vsidx
